/* 검색바 컨테이너 */
.search-bar-container {
  position: relative;
  width: 400px;
  margin-left: auto; /* 자동 여백으로 중앙 정렬 */
  margin-right: auto;
  display: flex;
  align-items: center;
}

/* 검색 입력 필드 */
.search-input {
  width: 100%;
  padding: 10px 70px 10px 15px; /* 오른쪽 여백을 조정하여 버튼을 위한 공간 확보 */
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
}

/* 검색 버튼 */
.search-button {
  position: absolute;
  right: 5px; /* 검색 버튼과 겹치지 않도록 간격 조정 */
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 추가 버튼 */
.extra-button {
  position: absolute;
  right: 31px; /* extra-button과의 간격 확보 */
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* 검색 아이콘 이미지 */
.search-icon {
  width: 25px;
  height: 25px;
}
.search-icon2 {
  width: 24px;
  height: 23px;
}
/* 배너 기본 설정 */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.banner-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.bottom-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.login-container {
  position: relative;
}

.cart-button,
.login-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1001;
  width: 200px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 10px;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.dropdown-menu ul li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.category-button {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
