.address-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.address-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.address-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.address-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.address-card strong {
  font-size: 18px;
  color: #333;
}

.address-default-badge {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 6px;
  background-color: #ff9800;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
}

.address-button-group {
  margin-top: 10px;
}

.address-edit-button {
  padding: 6px 12px;
  background-color: #4caf50; /* Green for "Edit" */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60px; /* 버튼 너비 고정 */
}

.address-edit-button:hover {
  background-color: #45a049;
}

.address-delete-button {
  padding: 6px 12px;
  background-color: #f44336; /* Red for "Delete" */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  width: 60px; /* 버튼 너비 고정 */
}

.address-delete-button:hover {
  background-color: #e53935;
}

.address-add-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #484848;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.address-add-button:hover {
  background-color: #363636;
}
